/* CSS files add styling rules to your content */

body {
  font: 20px courier, sans-serif;
  margin: 2em;
  color: #ffffff;
  background-color: #222222;
  
  /*if(game.theme = 0) {
    background-color: #ffffff;
    color: #000000;
  }
  else if(game.theme = 1) {
    background-color: #000000;
    color: #ffffff;
  }*/
}

h1 {
  font-style: italic;
  color: #373fff;
}

co.cc1-0 {
  color: #ff0000;
}
co.cc1-1 {
  color: #ff3300;
}
co.cc1-2 {
  color: #ff7700;
}
co.cc1-3 {
  color: #ffbb00;
}
co.cc1-4 {
  color: #ffdd00;
}
co.cc1-5 {
  color: #ffff00;
}
co.cc1-6 {
  color: #ccff00;
}
co.cc1-7 {
  color: #99ff00;
}
co.cc1-8 {
  color: #66ff00;
}
co.cc1-9 {
  color: #22ff00;
}
co.cc2-0 {
  color: #ff0000;
  font: 20px impact;
}
co.null0 {
  font: 24px courier, sans-serif;
}
co.null1 {
  font: 36px courier, sans-serif;
}
co.di0 {
  font: 24px courier, sans-serif;
}
co.di1 {
  color: #00dd00;
}
co.di2 {
  color: #ff2222;
}
co.di3 {
  color: #5599ff;
}
co.hrt {
  color: #dd1100;
  font: 24px courier;
  font-weight: bold;
}
co.e {
  color: #ffffff;
}
co.e1 {
  font: 32px Luminari;
}
co.e2 {
  font: 48px Luminari;
}
co.e3 {
  font: 24px Luminari;
}
co.e4 {
  font: 36px Luminari;
}
span.e0 {
  color: #7700aa;
}
span.e60 {
  color: #4400c0;
}
span.e65 {
  color: #2200e0;
}
span.e70 {
  color: #0000ff;
}
span.e75 {
  color: #0033ff;
}
span.e80 {
  color: #0066ff;
}
span.e85 {
  color: #0099ff;
}
span.e90 {
  color: #00bbff;
}
span.e95 {
  color: #00eeee;
}
span.e100 {
  color: #00ffbb;
}
span.e105 {
  color: #00ff99;
}
span.e110 {
  color: #00ff66;
}
span.e115 {
  color: #00ff33;
}
span.e120 {
  color: #00ff00;
}
span.e130 {
  color: #33ff00;
}
span.e140 {
  color: #60ff00;
}
span.e150 {
  color: #88ff00;
}
span.e160 {
  color: #b0ff00;
}
span.e170 {
  color: #ddff00;
}
span.e180 {
  color: #ffff00;
}
span.e190 {
  color: #ffdd00;
}
span.e200 {
  color: #ffc000;
}
span.e210 {
  color: #ffaa00;
}
span.e220 {
  color: #ff9900;
}
span.e230 {
  color: #ff8800;
}
span.e240 {
  color: #ff7700;
}
span.e250 {
  color: #ff6600;
}
span.e260 {
  color: #ff5500;
}
span.e270 {
  color: #ff4400;
}
span.e280 {
  color: #ff3300;
}
span.e290 {
  color: #ff2200;
}
span.e300 {
  color: #ff0000;
}




button {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #dddddd;
  color: #000000;
  font-size: 14px;
}
button:hover {
  background-color: #ffffff;
  cursor: pointer;
}


button.bt {
  border: none;
  padding: 12px 20px;
  margin: 4px 2px;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
}
button.bt:hover {
  border: none;
  padding: 12px 20px;
  margin: 4px 2px;
  background-color: #ffffaa;
  color: #000000;
  font-size: 24px;
  cursor: pointer;
}

button.b1 {
  border: none;
  padding: 12px 20px;
  margin: 4px 2px;
  background-color: #ffffff;
  color: #00aa00;
  font-size: 24px;
}
button.b1:hover {
  border: none;
  padding: 12px 20px;
  margin: 4px 2px;
  background-color: #ffffaa;
  color: #008800;
  font-size: 24px;
  cursor: pointer;
}

button.b2 {
  border: none;
  padding: 12px 20px;
  margin: 4px 2px;
  background-color: #ee1111;
  color: #ffffff;
  font-size: 24px;
}
button.b2:hover {
  border: none;
  padding: 12px 20px;
  margin: 4px 2px;
  background-color: #ff3333;
  color: #000000;
  font-size: 24px;
  cursor: pointer;
}

button.b3 {
  border: none;
  padding: 12px 20px;
  margin: 4px 2px;
  background-color: #0505f0;
  color: #ffffff;
  font-size: 24px;
}
button.b3:hover {
  border: none;
  padding: 12px 20px;
  margin: 4px 2px;
  background-color: #3838ff;
  color: #000000;
  font-size: 24px;
  cursor: pointer;
}


button.buy {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
}
button.buy:hover {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #cccccc;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

button.buyM {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #ffeebb;
  color: #000000;
  font-size: 14px;
}
button.buyM:hover {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #ffdd66;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

button.mN {
  border: none;
  padding: 6px 12px;
  margin: 4px 2px;
  background-color: #ffff00;
  color: #000000;
  font-size: 18px;
}
button.mN:hover {
  border: none;
  padding: 6px 12px;
  margin: 4px 2px;
  background-color: #eecc00;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}


button.buyA {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #ffdddd;
  color: #000000;
  font-size: 14px;
}
button.buyA:hover {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #eeaaaa;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

button.buyAM {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #ffbbcc;
  color: #000000;
  font-size: 14px;
}
button.buyAM:hover {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #ff8899;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

button.mA {
  border: none;
  padding: 6px 12px;
  margin: 4px 2px;
  background-color: #ff8888;
  color: #000000;
  font-size: 18px;
}
button.mA:hover {
  border: none;
  padding: 6px 12px;
  margin: 4px 2px;
  background-color: #ee6677;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}


button.bM {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #ddddff;
  color: #000000;
  font-size: 14px;
}
button.bM:hover {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #bbddff;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

button.bMM {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #bbbbff;
  color: #000000;
  font-size: 14px;
}
button.bMM:hover {
  border: none;
  padding: 4px 6px;
  margin: 4px 2px;
  background-color: #88bbff;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

button.mM {
  border: none;
  padding: 6px 12px;
  margin: 4px 2px;
  background-color: #8888ff;
  color: #000000;
  font-size: 18px;
}
button.mM:hover {
  border: none;
  padding: 6px 12px;
  margin: 4px 2px;
  background-color: #8866dd;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
}


button.aNA {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #888888;
  color: #000000;
  font-size: 16px;
}
button.aNA:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #aaaaaa;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

button.aA1 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #bbbb44;
  color: #000000;
  font-size: 16px;
}
button.aA1:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #dddd66;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

button.aP1 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #ffff00;
  color: #000000;
  font-size: 16px;
}
button.aP1:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #ccff00;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}


button.aA2 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #bb5511;
  color: #000000;
  font-size: 16px;
}
button.aA2:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #ee5511;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

button.aP2 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #ee7711;
  color: #000000;
  font-size: 16px;
}
button.aP2:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #ff8800;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}


button.aA3 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #33cccc;
  color: #000000;
  font-size: 16px;
}
button.aA3:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #22dddd;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

button.aP3 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #22ccff;
  color: #000000;
  font-size: 16px;
}
button.aP3:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #11bbff;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}


button.aT0 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #ee8888;
  color: #000000;
  font-size: 16px;
}
button.aT0:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #ff9999;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

button.aT1 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #88ee44;
  color: #000000;
  font-size: 16px;
}
button.aT1:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #99ff55;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}




button.cp1 {
  border: none;
  padding: 8px 12px;
  margin: 4px 2px;
  background-color: #006600;
  color: #ffee00;
  font-size: 20px;
}
button.cp1:hover {
  border: none;
  padding: 8px 12px;
  margin: 4px 2px;
  background-color: #226600;
  color: #ff6600;
  font-size: 20px;
  cursor: pointer;
}


button.du1 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #cceecc;
  color: #000000;
  font-size: 16px;
}
button.du1:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #ddffdd;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

button.du2 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #00dd00;
  color: #000000;
  font-size: 16px;
}
button.du2:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #00ff00;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

button.du3 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #007700;
  color: #ffffff;
  font-size: 16px;
}
button.du3:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #009900;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}


button.b0a {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #dddddd;
  color: #ff0000;
  font-size: 16px;
}
button.b0a:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #eeeeee;
  color: #dd0000;
  font-size: 16px;
  cursor: pointer;
}

button.b1a {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #dd0000;
  color: #ffffff;
  font-size: 16px;
}
button.b1a:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

button.b0m {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #dddddd;
  color: #0000ff;
  font-size: 16px;
}
button.b0m:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #eeeeee;
  color: #0000dd;
  font-size: 16px;
  cursor: pointer;
}

button.b1m {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #0000dd;
  color: #ffffff;
  font-size: 16px;
}
button.b1m:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #0000ff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}


button.hr1 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #ee4400;
  color: #ffffff;
  font-size: 16px;
}
button.hr1:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #440000;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

button.hr2 {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #880000;
  color: #ffffff;
  font-size: 16px;
}
button.hr2:hover {
  border: none;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #440000;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}






#game {
  /* just trying something */
  overflow: hidden !important;
  max-width: 100vw;
  white-space: nowrap;
}
